.navbar {
  justify-content: space-between;
  padding: 30px 40px;
  background-color: #160c00;
}

.navbar_heading {
  margin-right: 20px;
  font-size: 40px;
  color: #fff;
  font-family: "Dancing Script", cursive;
}

.navbar_form {
  width: 450px;
  height: 52px;
  /* border: 1px solid #cdcdcd; */
  border-radius: 5px;
  padding: 3px;
  position: relative;
}

.navbar_search {
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 0 7px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  outline: none;
}

.search_button {
  height: 100%;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 500;
  /* border: none; */
  border-radius: 5px;
  background-color: #b17c4f;
  color: #fff;
  cursor: pointer;
  border: 1px solid #160c00;
}

.search_result {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  /* font-size: medium; */
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #693602;
  border-radius: 5px;
  background-color: #693602;
  z-index: 9999;
  /* color: #160c00; */
}

.navbar_links {
  font-size: 20px;
}

.navbar_links > a {
  margin: 15px;
}

.navbar_links > a.active {
  font-weight: 600;
}

.cart_counts {
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #b17c4f;
  color: #fff;
  font-size: 15px;
  margin-left: 5px;
}

a {
  color: #fff;
}

.search_suggestion_link {
  /* color: #ed0707; */
  display: flex;
}

.search_suggestion_link > a {
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  /* bottom: 10px; */
  /* color: #ed0707; */
}

.search_suggestion_link:hover,
.search_suggestion_link.active {
  /* margin-left: 10px; */
  line-height: 170%;
  font-weight: bold;
  background-color: #4e2802;
  /* color: inherit;
  transition: color, transform 0.5s ease-in-out; */
}

.search_suggestion_li {
  justify-content: center;
  align-items: center;
}

.custom {
  font-weight: normal;
  margin-left: 10px;
  line-height: 170%;
}

.custom:hover,
.custom.active {
  font-weight: bold;
  margin-left: 10px;
  line-height: 170%;
}
